<%- include('header') -%>

<div class="articleContainer">

    <div class="leftSidebar"></div>
        <div class="theArticle">
            <h1 class="titleArticle"><%=theArticle.title%></h1>

            <div class="photoContainer">
                <img src="<%=theArticle.image%>">
            </div>

            <div class="contentArticle">
                <%-theArticle.content%>
            </div>
        </div>
    <div class="rightSidebar"></div>
</div>

<%- include('footer') -%>