
<%if(bookingFailed){%>
    <%- include('header')-%>
    <h1><%=data.tourid%></h1>
<%}%>
<div id="theCalendarBox">
            <div id="theCalendar">
                    <div id ="headerMonth">
                        <div class="previousRound" id="prevMonth">
                                <a>&#8249;</a>
                        </div>
                        <div class="theMonth"> <h1 id="month">Month</h1> </div>
                       
                        <div id="nextMonth"class="nextRound">
                                <a>&#8250;</a>
                        </div>
                        
                    </div>
                    <div id="weekdays">
                        <div>MON</div>
                        <div>TUE</div>
                        <div>WED</div>
                        <div>THU</div>
                        <div>FRI</div>
                        <div>SAT</div>
                        <div>SUN</div>
                    </div>
                    <div id="days"></div>
            </div>

            <div id="notAvailable">We are fullbooked on this day, sorry.</div>

        

            <div id="booking">

            <form method="POST" id="bookingForm">
                     <%if(information.time !== '(You choose!)'){%>    
                        <input name="time" value="<%= information.time %>" style="display:none" class='<%=isInvalid("time", errors)%>'>
                        <%}%>
                    <input name="timeTour" value="<%=information.time%>" style="display:none">
                    <input name="tourGuide" value="<%=information.guide%>" style="display:none">
                    <input name="year" id="postedYear" style="display:none">
                    <input name="month" id="postedMonth" style="display:none">
                    <input name="day" id="postedDay" style="display:none">
                    <input name="price" id="postedPrice" style="display:none" class='<%=isInvalid("price", errors)%>'>

                <div id="datePicked" class="pickDate">
                    <h4>Dates</h4>
                    <div>
                        <h3 id="dayPicked"></h3>
                        <div id="radioContainer" class="containerBelow">
                            <input name="radio" id="radio" type="radio" checked="true" disabled="true">
                            <label id="time"><%= information.time %></label>
                            
                            <label id="seatsLeft"></label>
                        </div>
                    </div>
                </div>

                <div id="amountOfPeople" class="pickDate">
                    <h4>People</h4>
                    <div>
                        <div id="selectContainer">
                            <label id="persons">Persons</label>
                            <select required name="persons" id="selectAmount" form="bookingForm" class='<%=isInvalid("persons", errors)%>'>
                                <option disabled selected value> -- Number of Persons -- </option>
                            </select>
                        </div>
                        <div id="priceContainer">
                            <span>
                                <strong>ISK </strong> <strong id="pricid">...</strong> Total
                            </span>
                        </div>
                        <div class="containerBelow">
                            <input name="pickup" type="checkbox" checked="true" disabled="true">
                                <span>
                                    <strong>Yes</strong>,
                                     we would like to be picked up. <span>(included in price)</span>
                                </span>
                        </div>

                    </div>
                </div>

                <div id="bookButtonContainer">
                    <div id="bookButton" class="confirmButtons">Book Now</div>
                </div>

            <%- include('bookingID')-%>
            

            <div id="payButton">
                <input class="confirmButtons" type="submit" value = "Pay">
            </div>
                </form>
            </div>



  
            
    </div>
                <script>

                var bookingData = <%-JSON.stringify(Months)%>;
                var peopleMax =parseFloat(<%-JSON.stringify(information.peopleMax)%>);
                    if(<%-bookingFailed%>){
                        document.getElementById('booking').style.display = "inline-block";
                        document.getElementById('bookingID').style.display = "inline-block";
                    }

                    const MONTH_NAMES = ["January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                    ];

                    const WEEKDAYS = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

                    function DateTracker(){

                        this.today = new Date();
                        var day = this.today.getDate();
                       
                        var month = this.today.getMonth(); //January is 0!
                        var year = this.today.getFullYear();

                        this.newPickDate(year, month, day+1);

                        this.setup();

                        
                    }

                    DateTracker.prototype.newPickDate = function(year, month, day){
                        this.datePicked = new Date(year, month, day);
                        this.day = this.datePicked.getDate();
                        this.month = this.datePicked.getMonth();
                        this.year = this.datePicked.getFullYear();
                    };

                    //theDay is the html-element for the picked day!
                    DateTracker.prototype.pickDate = function(theDay) {

                        //this.cleanUp();
                        this.colorLastPickedBorderSilver();
                        this.newPickDate(this.year, this.month, theDay.innerHTML);
                        
                    document.getElementById('postedYear').value = this.year;
                    document.getElementById('postedMonth').value = MONTH_NAMES[this.month];
                    document.getElementById('postedDay').value = this.day;
                    document.getElementById('postedPrice').value = <%-information.price%>;


                        theDay.style.border = "1px solid black";

                        document.getElementById("dayPicked").innerHTML = WEEKDAYS[this.datePicked.getDay()%7] +
                        " " + this.datePicked.getDate() +". " + MONTH_NAMES[this.datePicked.getMonth()] + " " +
                        this.datePicked.getFullYear();

                        var seats = this.seatsLeft(this.day);

                        document.getElementById("seatsLeft").innerHTML = "Seats Left: " + seats;

                        this.deleteChildrenOf(document.getElementById('selectAmount'));
                        var topt = document.createElement('option');
                        topt.setAttribute('disabled', true);
                        topt.setAttribute('selected', true);
                        topt.setAttribute('value', 0);
                        document.getElementById('selectAmount').appendChild(topt);
                        for (let i = 1; i <= seats; i++) {
                            var opt = document.createElement('option');
                            opt.setAttribute("value", i);
                            opt.innerHTML = i;
                            document.getElementById('selectAmount').appendChild(opt);   
                        }


                        document.getElementById('booking').style.display = "inline-block";
                        //this.deleteChildrenOf(document.getElementById('booking'));

                        //this.setUpBookingFor(this.datePicked);

                        /*<div id="amountOfPeople" class="pickDate">
                    <h4>People</h4>
                    <div>
                        <div id="selectContainer">
                            <label id="persons">Persons</label>
                            <select id="selectAmount">

                            </select>
                        </div>
                        <div id="priceContainer">
                            <span>
                                <strong>ISK ...</strong> per person
                            </span>
                        </div>*/

                         
                        
                        
                    };

                    DateTracker.prototype.colorLastPickedBorderSilver = function() {
                        var days = document.getElementsByClassName('day')
                        for(var i=0; i < days.length; i++){
                            if(days[i].innerHTML == this.day){
                                days[i].style.border = "1px solid silver";
                            }
                        }
                    }

                    DateTracker.prototype.setUpBookingFor = function(thisDay) {
                        
                        document.getElementById('booking');
                        
                        
                    }

                    DateTracker.prototype.seatsLeft = function(x){
                        return peopleMax - bookingData[this.month][x];
                    }

                    DateTracker.prototype.nextMonth = function(){

                        this.datePicked = new Date(this.year, this.month+1, 1);
                        this.day = this.datePicked.getDate();
                        this.month = this.datePicked.getMonth();
                        this.year = this.datePicked.getFullYear();

                        if(this.month === this.today.getMonth() && this.year === this.today.getFullYear()){
                            
                            this.datePicked = new Date(this.today.getFullYear(), this.today.getMonth(), this.today.getDate()+1);
                            
                            this.day = this.datePicked.getDate();
                            this.month = this.datePicked.getMonth();
                            this.year = this.datePicked.getFullYear();
                        }
                        

                        this.deleteChildrenOf(document.getElementById('days'));

                        document.getElementById('booking').style.display = "none";
                        document.getElementById('notAvailable').style.display = "none";

                        this.setup();
                    }

                    DateTracker.prototype.prevMonth = function(){
                        this.datePicked = new Date(this.year, this.month-1, 1);
                        this.day = this.datePicked.getDate();
                        this.month = this.datePicked.getMonth();
                        this.year = this.datePicked.getFullYear();


                            if(this.month === this.today.getMonth() && this.year === this.today.getFullYear()){
                            this.datePicked = new Date(this.today.getFullYear(), this.today.getMonth(), this.today.getDate()+1);
                            this.day = this.datePicked.getDate();
                            this.month = this.datePicked.getMonth();
                            this.year = this.datePicked.getFullYear();
                        }

                        document.getElementById('booking').style.display = "none";
                        document.getElementById('notAvailable').style.display = "none";

                        this.deleteChildrenOf(document.getElementById('days'));

                        this.setup();
                    }

                    DateTracker.prototype.deleteChildrenOf = function(parent) {
                            //Delete all days:
                                while (parent.firstChild) {
                                    parent.removeChild(parent.firstChild);
                                }
                    }

                        
                    DateTracker.prototype.isAvailable = function(x) {
                        //this.month, setja þetta á undan svo ekki alltaf verið að ná í upplýsingarnar! "cache"
                        if(this.seatsLeft(x) > 0){ return true;}
                        
                            return false;
                    }

                    DateTracker.prototype.selectHandler = function(){
                        var select = document.getElementById('selectAmount');
                        var selected = select.selectedIndex;
                        //var t = parseFloat(document.getElementById('pricid').innerHTML);
                        var t = <%-information.price%>;
                        document.getElementById('pricid').innerHTML =  t*selected;
                        
                    }

                    DateTracker.prototype.continueBooking = function(){
                        document.getElementById('bookingID').style.display = "inline-block";
                    }

                    DateTracker.prototype.cleanUp = function() {
                        document.getElementById('bookingID').style.display = "none";
                        document.getElementById('selectAmount').selectedIndex = "0";
                    }
                    
                    
                    DateTracker.prototype.setup = function() {
                        var temp = this;
                        document.getElementById('month').innerHTML = MONTH_NAMES[this.month] + " " + this.year;

                        var day1 = new Date(this.year, this.month, 1).getDay()
                        day1 = (day1===0) ? 7 : day1;
                       
            
                         // pass in any date as parameter anyDateInMonth, fjöldi daga í tilteknum mánuði
                        function daysInMonth(anyDateInMonth) {
                            return new Date(anyDateInMonth.getYear(), anyDateInMonth.getMonth()+1, 0).getDate();
                        }
                        
                        var amountOfDaysThisMonth = daysInMonth(this.today);
                        var lastMonthDate = new Date(this.today.getFullYear(), this.today.getMonth()-1);
                        var amountOfDaysLastMonth = daysInMonth(lastMonthDate);

                        var weekDaysFollowing = 0;
                       for(var x =(amountOfDaysLastMonth - (day1-1))+1; x <= amountOfDaysLastMonth; x++){
                           weekDaysFollowing++;
                            var monthDay = document.createElement('div');
                                monthDay.innerHTML = x;
                                monthDay.className = 'day';
                                monthDay.classList.add('grayDay');
                                monthDay.style.background = "#E0E0E0";
                                document.getElementById('days').appendChild(monthDay);          
                       }

                        for(var x = 1; x <= amountOfDaysThisMonth; x++){
                            var monthDay = document.createElement('div');
                            monthDay.innerHTML = x;
                            monthDay.className = 'day';

                            if(x === this.day && !(this.datePicked < this.today)) monthDay.style.fontWeight = "bolder";
                            //if(x === this.day-1 && !(this.datePicked < this.today)) monthDay.style.border = "1px solid black";
                            if(x > this.day-1){ 
                                if(this.month < 4 || this.month > 7 || (weekDaysFollowing%7 === 5 ||
                            weekDaysFollowing%7===6)){monthDay.style.background = "white";}
                                else{
                                    
                                    if(this.isAvailable(x)){
                                        
                                        monthDay.id = `day`+x;
                                        monthDay.classList.add("available");
                                        monthDay.onclick = function() {
                                            document.getElementById('notAvailable').style.display = "none";
                                            //Inside this function 'this' means the html-element
                                            temp.pickDate(this);
                                        };
                                    }
                                    else{
                                        monthDay.classList.add("unavailable");
                                        monthDay.onclick = function(){
                                            temp.colorLastPickedBorderSilver();
                                            document.getElementById('booking').style.display = "none";
                                            document.getElementById('notAvailable').style.display = "inline-block";
                                        }
                                    }
                                    }
                                }
                                
                                document.getElementById('days').appendChild(monthDay);
                                weekDaysFollowing++;
                        }
            
                        if((amountOfDaysThisMonth+(day1-1))%7 !== 0){
                            for(var x = 1; x <= 7 - (amountOfDaysThisMonth+(day1-1))%7; x++){
                                var monthDay = document.createElement('div');
                            monthDay.innerHTML = x;
                            monthDay.className = 'day';
                            monthDay.classList.add('grayDay');
                            monthDay.style.background = "#E0E0E0";
                            document.getElementById('days').appendChild(monthDay);
                            }
                            }
                        };

                        var orderDate = new DateTracker();

                        var nextMonth = document.getElementById("nextMonth");
                        var prevMonth = document.getElementById("prevMonth");
                        var selectAmount = document.getElementById('selectAmount');
                        var bookButton = document.getElementById('bookButton');
                        var payButton = document.getElementById('payButton');

                        nextMonth.addEventListener("click", function() {orderDate.nextMonth()});
                        prevMonth.addEventListener("click", function() {orderDate.prevMonth()});
                        selectAmount.addEventListener("change", function(){
                            orderDate.selectHandler();
                        });
                        bookButton.addEventListener("click", function(){
                            if(selectAmount.selectedIndex < 1) {
                                selectAmount.style.backgroundColor = "red";
                                return
                            }
                            
                            payButton.style.display = "flex";
                            bookButton.style.display = "none";
                            selectAmount.style.backgroundColor = "white";
                            orderDate.continueBooking();
                        })

                        

                        
                </script>

<%if(bookingFailed){%>
    <%- include('footer')-%>
<%}%>