<%- include('header') -%>

        <div class = "kynning">
            <h3>Welcome to Iceland</h3>
            <p>The island in the North. Home to many of the world's most magnificent
                waterfalls, glaciers and landscapes. Iceland heals, fights and inspires like no other.
            </p>
        </div>
            
            <div class = "greinar" id="greinarHome">
                    <% articles.forEach((article) => { %>
                        <% 
                        var classinn = (article.position%2 === 0) ? 'right' : 'left';
                        var textClassinn = (article.position%2 === 1) ? 'rightText' : 'leftText';
                        var limmidi = (article.position%2 === 1) ? 'otherCol' : 'thisCol';
                        %>
                            <div class="linkurAGrein <%=limmidi%>">
                                
                                <div class="<%=classinn%>">
                                    <% if (article.image) { %>
                                        <img src = "<%= article.image %>" alt="<%= article.title%>">
                                    <% } %>
                                </div>

                                <div class="<%=textClassinn%>">
                                    <div class="articleInfo">
                                            <div class="articleTitle">
                                                <h4><%= article.title%></h4>
                                            </div>
                                            <div class="articleDescription">
                                                <h5><%= article.description%></h5>
                                            </div>
                                            <div class="articleContent">
                                                <%- article.content%>
                                            </div>
                                    </div>
                                        <form id="tourButton" action="<%=article.href%>">
                                            <button>More info</button> 
                                        </form>
                                </div>
                              
                            </div>
                      <% }) %>
            </div>

            <script>
                
                    let t = document.getElementById('greinarHome').getElementsByClassName('linkurAGrein');

                    var size = t.length;

                    //t[size-1].style.overflow = 'hidden';
                    t[size-1].id = 'lastOne';

                    



                    
                </script>

<%- include('footer') -%>