<%- include('header') -%>

        <div class = "kynning">
            <h3>Welcome to Iceland</h3>
            <p>The island in the North. Home to many of the world's most magnificent
                waterfalls, glaciers and landscapes. Iceland heals, fights and inspires like no other.
            </p>
        </div>
            
            <div class = "tourGrid" id="greinarHome">
                    <% articles.forEach((article) => { %>
                        <% 
                        var classinn = (article.position%2 === 0) ? 'right' : 'left';
                        var textClassinn = (article.position%2 === 1) ? 'rightText' : 'leftText';
                        var limmidi = (article.position%2 === 1) ? 'otherCol' : 'thisCol';
                        %>                             
                                <div class="grPic linkurAGrein <%=classinn%>">
                                    <% if (article.image) { %>
                                        <img src = "<%= article.image %>" alt="<%= article.title%>">
                                    <% } %>
                                </div>

                                <div class="txtGr linkurAGrein <%=textClassinn%> <%=limmidi%>">
                                    <div class="articleInfo">
                                            <div class="articleTitle">
                                                <h4><%= article.title%></h4>
                                            </div>
                                            <div class="articleDescription">
                                                <h5><%= article.description%></h5>
                                            </div>
                                            <div class="articleContent">
                                                <%- article.content%>
                                            </div>
                                    </div>
                                        <form id="tourButton" action="<%=article.href%>">
                                            <button>More info</button> 
                                        </form>
                                </div>
                              
                        
                      <% }) %>
            </div>

            <script>
                var fun = true;
if($(window).width() < 751) rightOrder();
else funOrder();
                $(window).on('resize', function(event){
                    var windowWidth = $(window).width();
                if(windowWidth < 751 && fun){
                        rightOrder();
                    }
                    else if(!fun){
                        funOrder();
                    }
                    });

                    function rightOrder(){
                        var i = 0;
                        var linkar = document.getElementsByClassName('linkurAGrein');
                        fun = false;

                        while(i < linkar.length){
                            linkar[i].style.order = i;
                            i++;
                        }
                    }
                        
                

                function funOrder(){
                    fun = true;
                    let t = document.getElementById('greinarHome').getElementsByClassName('linkurAGrein');

                    var size = t.length;

                    
                    t[size-1].id = 'lastOne';
                   
                    let greinar = document.getElementsByClassName('linkurAGrein');
                    var i = 0;

                    while(i < size){
                            if(i % 4 === 0){
                                greinar[i].style.order = i+1;
                                greinar[i+1].style.order = i;
                            } 
                            else if(i%2 === 0){
                                greinar[i].style.order = i;
                                greinar[i+1].style.order = i+1;
                            }
                            i++;
                    }
                    }
                </script>

<%- include('footer') -%>