<%- include('header')-%>
<div class ="glymurHeading">
        <h2>Glymur - Health & Adventure tour</h2>
    </div>

    

<div class = "together">
    <div class="sidebar"></div>
    <div class="myndaGallerý">
            <div class="upplýsingar">
                    <ul>
                        <li><strong>Duration:</strong> <%= information.duration%></li>
                        <li><strong>Pick up:</strong> <%= information.time%></li>
                        <li><strong>Group:</strong> <%= information.peopleMax%></li>
                        <li><strong>Available:</strong> <%= information.available%></li>
                        <li><strong>Age limit:</strong> <%= information.ageLimit%></li>
                        <li><strong>Difficulty:</strong> <%= information.difficulty%></li>
                    </ul></div>
            <div class ="peppTexti">
                    <p>
                        <div class="aboveText">
                                <%- above.content%>
                        </div>
                    </p>
                </div>
            <!-- <h2 style="text-align:center">Pictures</h2> -->

        <div class="pictureKeeper">


            <div class ="mainPic">
                    <a class="prev" onclick="car.prev()">&#10094;</a>
                    <a class="next" onclick="car.next()">&#10095;</a>
                <img id ="showPic" src="./img/IMG_0160.JPG">
            </div>

            <div id = "carousel" class="row" aria-live="polite" role="listbox">
                    
                <%pictures.forEach((picture) =>{ %> 
                    <div class="images">
                    <% if(picture) { %>
                        <img class="slides" aria-hidden="true" src="./img/<%= picture%>" onclick="car.moveToBig(this.src)">
                    <% } %>
                </div>
              
              <% }); %>
            </div>
        </div>
            
        <div class="upplýsingar">
            
            <div class="frekariLýsing belowText">
                <%- below.content%>
            </div>
        </div>
            <script src = "/imageGalleryHandler.js"></script>
    </div>

    <div id="booking"></div>
</div>

<%- include('footer')-%>