<%- include('header')-%>
<div id="theTour">
<div class ="glymurHeading">
        <h2><%=information.title%></h2>
        <h3><%=information.about%></h3>
    </div> 

<div class = "together">
    <div class="sidebar"></div>
    <div class="myndaGallerý">
            <div class="upplýsingar">
                    <ul>
                        <li><strong>Duration:</strong> <%= information.duration%></li>
                        <li><strong>Pick up:</strong> <%= information.time%></li>
                        <li><strong>Group:</strong> <%= information.peopleMax%></li>
                        <li><strong>Available:</strong> <%= information.available%></li>
                        <li><strong>Age limit:</strong> <%= information.ageLimit%></li>
                        <li><strong>Difficulty:</strong> <%= information.difficulty%></li>
                    </ul>
            </div>

            <h5>Tour Highlights</h5>
            <div id="tourHighlights">
                <%-information.content%>
                </div>
            <div class ="peppTexti">
                    <p>
                        <div class="aboveText">
                                <%- above.content%>
                        </div>
                    </p>
                </div>
            <!-- <h2 style="text-align:center">Pictures</h2> -->

        <div class="pictureKeeper">


            <div class ="mainPic">
                <a class="prev" onclick="car.prev()">&#10094;</a>
                <img id ="showPic" src="">
                <a class="next" onclick="car.next()">&#10095;</a>
            </div>

            <div id = "carousel" class="row" aria-live="polite" role="listbox">
                <div class="images">
                <%pictures.forEach((picture) =>{ %> 
                    
                    <% if(picture) { %>
                        <img class="slides" aria-hidden="true" src="/img/<%= picture%>" onclick="car.moveToBig(this.src)">
                    <% } %>
                    
                <% });%>
            </div>
                
            </div>
        </div>
            
        <div class="upplýsingar">
            
            <div class="frekariLýsing belowText">
                <%- below.content%>
            </div>
        </div>
        <div class="priceAndProfile">
            <div id="priceTag">
                <p>Price: <strong><%= information.price%></strong></p>
            </div>

            <div id="cardContainer">
                <div class="card">
                    <div class="infoOnTourGuide">
                        <img src="/img/<%=information.guidePic%>" alt="<%=information.tourGuide%>" style="width:100%">
                        <p class="tourGuide"><%=information.tourGuide%></p>
                        <p class="profileTitle"><%=information.whoAmI%></p>
                    </div>
                        
                        <div class="socialMedia">
                        <a href="<%=information.instagram%>"><i class="fa fa-instagram"></i></a>  
                        <a href="<%=information.facebook%>"><i class="fa fa-facebook"></i></a> 
                    </div>
                </div>
            </div>
        </div>
        <form action="/contact-us" id="contactUsContainer">
            <button>Contact Us</button> 
        </form>
            
        
        <script src = "/imageGalleryHandler.js"></script>
    </div>
    <div></div>


</div>
</div>
    



<%- include('footer')-%>